@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700;900&display=swap');

:root {
    --sombreado: rgba(56, 42, 225, 0.1903);
    --black: #1F2E55;
    --azul-claro-100: #D6E1FF;
    --azul-claro-200: #766CF1;
    --azul-escuro: #382AE1;
    --cinza: #717FA6;
    --cinza-claro: #F7F9FF;
    --branco: white;
    --cabeçalho: 22px;
    --corpo: 15px;
    --rodapé: 14px;
    --link: 13px;
}



.main {
    background-color: var(--azul-claro-100);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: Outfit;
}

.card {
    background-color: var(--branco);
    width: 327px;
    height: 567px;
    border-radius: 20px;
    margin-bottom: 32px;
    font-family: Outfit;
}

.image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 32px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: var(--cabeçalho);
    display: flex;
    justify-content: center;
    font-weight: 900;
    margin-bottom: 16px;
}

.descrition {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 24px;
    font-size: var(--corpo);
    color: var(--cinza);
    font-weight: 500;

}

.annual-plan {
    background-color: var(--cinza-claro);
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    margin-left: 16px;
    margin-right: 16px;
    width: 279px;
    height: 81px;

}

.plan {
    margin-right: 50px;
    font-weight: 900;
    font-size: var(--rodapé);

}

.value {
    margin-top: 3px;
    font-weight: 500;
    font-size: var(--rodapé);
    color: var(--cinza);
}

.icon-music {
    width: 48px;
    height: 48px;
    margin: 15px;
}

.button {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 279px;
    height: 50px;
    margin-bottom: 24px;
    margin-left: 24px;
    border-radius: 12px;
    background-color: var(--azul-escuro);
    border: none;
    font-weight: 900;
    color: var(--branco);
    cursor: pointer;
}

.button:hover {
    background: var(--azul-claro-200);
}



.link {
    color: var(--azul-escuro);
    margin-right: 16px;
    font-weight: 700;
    font-size: var(--link);
}

.link:hover {
    color: var(--azul-claro-200);
}

.footter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 116px;
    margin-bottom: 32px;
    font-weight: 500;
    color: var(--cinza);
    font-size: var(--corpo);
    border: none;
    background: none;
    cursor: pointer;
}
.footter:hover{
    color: black;
    font-weight: 900;
    
}